@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1{
    scrollbar-width: none;
}

nav{
    margin: 0 5vw;
    border-radius: 0 0 20px 20px ;
    min-height: 7vh;
    position: sticky-top;
}

#capa{
    background-image: url(../assets/img/barraca-topo.jpg);
    background-size: cover;
    /* background-color: black; */
    background-attachment: fixed;
}

#contracapa{
    background-color: rgba(0,0,0,0.8);
}



#mbma{
    filter: drop-shadow(5px 5px 10px #000000);
}

#contribua{
    background-color: rgb(254, 254, 103);
    border-radius: 7px;
}

#contribua:hover{
    border: 1px solid rgb(254, 254, 103);
    background-color: rgba(254, 254, 103,0);
    color: rgb(254, 254, 103);
}

#razoes{
    background-image: url(../assets/img/bandeira.jpg);
    background-size: cover;
    background-position-y: -160px ;
    background-attachment: fixed;

}

#razoesContracapa{
    background-color: rgba(255, 255, 255, 0.6);
}

#clube{
    background-image: url(../assets/img/barracas.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#clubeContracapa{
    background-color: rgba(0,0,0,0.6);

}

.cards-carrosselDup{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;}  

.wrapperDup{
    max-width: 90vw;
    width: 100%;
    position: relative;
}

.wrapperDup .setaDup{
    height: 50px;
    width: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    color:#031A9A;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}

.wrapperDup .setaDup:first-child{
    left:-22px;
}

.wrapperDup .setaDup:last-child{
    right:-22px;
}


.wrapperDup .carouselDup{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carouselDup::-webkit-scrollbar{
    display: none;
}

.carouselDup :where(.cardDup, .imgDup){
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselDup.no-transition{
    scroll-behavior: auto;
}

.carouselDup.dragging {
    scroll-snap-type: none;

    scroll-behavior: auto;
}


.carouselDup.dragging .cardDup{
    cursor: grab;
    user-select: none;
}

.carouselDup .cardDup{
    scroll-snap-align: start;
    min-height: 342px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.cardDup .imgDup{
    width: 200px;
    min-height: 200px;
    border-radius: 50%;
} 

.cardDup .imgDup img{
width: 200px;
height: 200px;
object-fit: cover;
border-radius: 50%;
} 


@media screen and (max-width: 1440px){

    .wrapperDup .carouselDup{
        grid-auto-columns: calc((100% / 3) - 12px);
    }

}
/* 
@media screen and (max-width: 900px){
    .wrapper .carousel{
    grid-auto-columns: calc((100% / 2) - 9px);
    }

} */

@media screen and (max-width: 900px){

    .wrapperDup .carouselDup{
    grid-auto-columns: 100%;
    }
}